<!doctype html>
<head>
</head>
<body>
<h1>Product Summary Report</h1>
<div>
<table>
<tr>
<th>
Index
</th>
<th>
Name
</th>
<th>
Quantity
</th>
</tr>
{{range $index, $product := .}}
<tr>
<td>
{{$index}}
</td>
<td>
{{.ProductName}}
</td>
<td>
{{.QuantityOnHand}}
</td>
</tr>
{{end}}
</table>
</div>
</body>
</html>